
.allLinks {

    display: -webkit-flex; /* Safari */

    display: flex;

    flex-wrap: wrap;

    justify-content: center;

}

.allLinks li {

    list-style: none;

    display: inline-flex;

    border-radius: 1rem;

    width: 20rem;

    height: 8rem;

    margin-top: 3rem;

    margin-right:2rem;

    overflow: hidden; /*超出边界部分隐藏*/

    background-color: #403e3e;

}

.allLinks li img {

    width:6rem;

    height:6rem;

    border-radius: 50%;

    margin: 1rem;

}

.allLinks li a {

    width: 12rem;

    padding-top: 10%;

    text-align: center;

    cursor: pointer;

    text-decoration: none;

    font-size: 1.7rem;

    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, Arial, sans-serif;

    color:#bbb;

    word-wrap: break-word; /*文字换行*/

}
